/* Zerando as configurações de CSS e iniciando uma base */

*{
  box-sizing: border-box; /* //td que temos vai ficar no limite do tamanho máximo da tela */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão */ 
  transition: all 0.3s ease-in-out; /* Para fazer transição, entrar e sair devagar */
}